html
  head
    title= 'Example web server'
  body
    h2= header
    p= text
    p
      table
        for rec in table
          tr
            td= rec[0]
            td= rec[1]
            td= rec[2]
 
