html
  head
    title= 'Lab7'
    style
      include style.css
  body
    h2= header
    if msg
      p= msg
    if rows.length
      table
        tr
          th= 'id'
          th= 'title'
          th= 'posts_count'
          for rec in rows
            tr
              td= rec.id
              td= rec.title
              td= rec.posts_count
